a {
	color: #333;
	transition: 0.3s ease;
	font-weight: 600;
}

a:hover {
	color: green;
	text-decoration: none;
}

.navbar {
	padding: 20px 15px;
}

h1 {
	font-size: 35px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
}

.logo {
	max-width: 200px;

}
.logo img {
	width: 100%;
}

.view-user {
	width: 250px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px dotted #333;
	padding: 15px 10px;
}

.view-user span {
	font-size: 20px;
	font-weight: 600;
}
p.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}	
.pagination {
	justify-content: center;
	margin-top: 30px;
}

.user-avatar {
	height: 80px;
	width: 80px;
	object-fit: cover;
	border-radius: 999px;
}